<% provide(:title, 'About us') %>
<div class="row">
  <h1>About us</h1>
  <div class="span8 offset2">
<p>
Chunks started out as a simple todo list application. Soon however it turned out that some method of chopping up tasks into smaller chunks was needed. I got stuck when faced with a big task and no sensible way to break it up, and that's where chunks.eu comes into play.<br/>
It helped me out creating a manageable todo list, backed up with the workflow coming from the Getting things done book by David Allen.
</p>
<p>
	I Hope this application will also help you get your todo list into order with tasks which you manage to fianlly finish.
</p>
</div>
</div>