<% provide(:title, 'Contact') %>
<div class="row">
  <h1>Contact us</h1>
  <div class="span4">
    <address>
      <strong>CHUNKS.EU</strong><br>
      Mark Braspenning<br>
      Eindhoven<br>
      The Netherlands<br>
    </address>
    <address>
      <a href="mailto:#">mark.braspenning+chunks@gmail.com</a>
    </address>
  </div>
</div>