<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.chunks.any? %>
      <h3>Chunks to do (<%= @user.chunks.count %>)</h3>
      <ol class="chunks">
        <%= render @chunks %>
      </ol>
    <% end %>
  </div>
</div>